{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="container col-10 offset-1">
                <div class="col text-center mt-3">
                    <h2 class="logo-font main-margin">Best sellers</h2>
                </div>
                <div class="row">
                    <div class="col-5 offset-2">
                        <img class="border main-margin home-img" src="media/product3.jpg" alt="temp image">
                        <img class="border main-margin home-img" src="media/product2.jpg" alt="temp image">
                    </div>
                    <div class="col-5">
                        <img class="border main-margin home-img" src="media/product8.jpg" alt="temp image">
                        <img class="border main-margin home-img" src="media/product13.jpg" alt="temp image">
                    </div>
                </div>
            </div>
            <div class="container col-10 offset-1">
                <div class="col text-center mt-3">
                    <h2 class="logo-font main-margin">New In</h2>
                </div>
                <div class="row">
                    <div class="col-5 offset-2">
                        <img class="border main-margin home-img" src="media/product4.jpg" alt="temp image">
                        <img class="border main-margin home-img" src="media/product5.jpg" alt="temp image">
                    </div>
                    <div class="col-5">
                        <img class="border main-margin home-img" src="media/product6.jpg" alt="temp image">
                        <img class="border main-margin home-img" src="media/product7.jpg" alt="temp image">
                    </div>
                </div>
            </div>
            <div class="row text-center w-100">
                <div class="col bg-three text-two">
                    <p class="logo-font my-1">
                        Personal Designs <br>
                        Worldwide Shipping <br>
                        Discounts + Offers available to everyone on our mailing list.
                    </p>                
                </div>            
            </div>
            <div class="container col-10 offset-1">
                <div class="col text-center mt-3">
                    <h2 class="logo-font main-margin">Follow Us On</h2>
                </div>
                <div class="row">
                    <div class="col-12 border sm-margin">
                        <a href="https://www.instagram.com/artyfarty.gifts" class="text-three" target="_blank">
                            <p class="large-text"><i class="social-i fab fa-instagram"></i> https://www.instagram.com/artyfarty.gifts</p>  
                        </a>   
                    </div>
                    <div class="col-12 border sm-margin">
                        <a href="https://www.facebook.com/ArtyFarty.Gifts" class="text-three" target="_blank">
                            <p class="large-text"><i class="social-i fab fa-facebook-square"></i> https://www.facebook.com/ArtyFarty.Gifts</p>
                        </a>
                    </div>
                    <div class="col-12 border sm-margin">
                        <a href="https://www.tiktok.com/@artyfartygifts" class="text-three" target="_blank">
                            <p class="large-text"><i class="social-i fab fa-tiktok"></i>https://www.tiktok.com/@artyfartygifts</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container col-10 offset-1">
                <div class="col text-center mt-3">
                    <h2 class="logo-font main-margin">Customer Reviews</h2>
                </div>
                <div class="row">
                    <div class="col-12 border sm-margin text-center">
                        <p>Insert review</p>
                    </div>
                    <div class="col-12 border sm-margin text-center">
                        <p>Insert review</p>
                    </div>
                    <div class="col-12 border sm-margin text-center">
                        <p>Insert review</p>
                    </div>
                </div>
            </div>
            <div class="news col-12 col-md-8 offset-md-2">
                <div class="col text-center mt-3">
                    <h2 class="logo-font main-margin">Contact Us</h2>
                    Add text box and submit button.
                </div>
                <h3>Subscribe!</h3>
                    <p>Sign up to our newsletter to get all the latest deals!</p>
                    <div class="text-right"><span class="asterisk">*</span> indicates required</div>
                    <form method="">
                        <input class="btn-outline-black" type="submit" value="Subscribe">
                    </form>
                    <br>
                    <small class="unsub"><a href="">I want to unsubscribe</a></small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}