html {
    height: 100%;
}

body {
    background-color: #D5DFDE;
    color: #555;
    font-family: 'Raleway', sans-serif;
}

.logo {
    height:130px;
    margin-left: 90px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Cormorant SC', serif;
    font-weight: 600;
    text-transform: uppercase;
}

/* Background colors */

.bg-one {
    background-color: #6f8b6e;
}

.bg-two {
    background-color: #bbceaf;
}

.bg-three {
    background-color: #3c4e4e;
}

.bg-four {
    background-color: #324234;
}

.bg-five {
    background-color: #D5DFDE;
}

.bg-six {
    background-color: #768a88;
}

/* Text colors */

.text-two {
    color:#D5DFDE;
}

.text-three {
    color: #3c4e4e;
}

.large-text {
    font-size: larger;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
}

.main-logo-link {
    width: 150px;
}

.shop-now-button {
    background: #3c4e4e;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #3c4e4e;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #3c4e4e;
    color: white;
}

.btn-two {
    background: #D5DFDE;
    color: #3c4e4e;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}


/* Home */

.main-margin {
    margin: 5% 0;
}

.sm-margin {
    margin: 2% 0;
}

.social-i {
    font-size: xxx-large;
}

.footer-socials {
    padding-top: 40px;
}
.t-and-c {
    position:relative;
    top: 60px;
}

.home-img{
    width: 226px;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.40), 0 12px 40px 0 rgba(0, 0, 0, 0.40);
}

.footer-container {
    margin-top: 50px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 210px;
      }
  }
  