<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">All Homeware</a>
                <a href="" class="dropdown-item">Glasses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three mr-5" href="#" id="kids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kids-link">
                <a href="" class="dropdown-item">All Kids</a>
                <a href="" class="dropdown-item">Flash Cards</a>
                <a href="" class="dropdown-item">Resin Alphabet</a>
                <a href="" class="dropdown-item">Water Bottles</a>
                <a href="" class="dropdown-item">Money Boxes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three mr-5" href="#" id="stationary-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationary
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationary-link">
                <a href="" class="dropdown-item">All Stationary</a>
                <a href="" class="dropdown-item">Note Books</a>
                <a href="" class="dropdown-item">Binders</a>
                <a href="" class="dropdown-item">Keyrings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three" href="#" id="occasions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="" class="dropdown-item">All Occasions</a>
                <a href="" class="dropdown-item">Christmas</a>
                <a href="" class="dropdown-item">Halloween</a>
                <a href="" class="dropdown-item">Easter</a>
                <a href="" class="dropdown-item">Weddings</a>
                <a href="" class="dropdown-item">Bereavement</a>
                <a href="" class="dropdown-item">Fathers Day</a>
                <a href="" class="dropdown-item">Mothers Day</a>
                <a href="" class="dropdown-item">Valentines</a>
                <a href="" class="dropdown-item">Teaching</a>
            </div>
        </li>
    </ul>
</div>