<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three mr-5" href="#" id="kids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kids-link">
                <a href="" class="dropdown-item">All Kids</a>
                <a href="" class="dropdown-item">Education</a>
                <a href="" class="dropdown-item">ect</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three mr-5" href="#" id="stationary-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationary
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationary-link">
                <a href="" class="dropdown-item">All Stationary</a>
                <a href="" class="dropdown-item">Note Books</a>
                <a href="" class="dropdown-item">Binders</a>
                <a href="" class="dropdown-item">Keyrings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-three" href="#" id="occasions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="occasions-link">
                <a href="{% url 'products' %}?category=christmas,halloween,ornaments,valentines" class="dropdown-item">All Occasions</a>
                <a href="{% url 'products' %}?category=christmas" class="dropdown-item">Christmas</a>
                <a href="{% url 'products' %}?category=halloween" class="dropdown-item">Halloween</a>
                <a href="" class="dropdown-item">Easter</a>
                <a href="" class="dropdown-item">Weddings</a>
                <a href="{% url 'products' %}?category=ornaments" class="dropdown-item">Bereavement</a>
                <a href="" class="dropdown-item">Fathers Day</a>
                <a href="" class="dropdown-item">Mothers Day</a>
                <a href="{% url 'products' %}?category=valentines" class="dropdown-item">Valentines</a>
            </div>
        </li>
    </ul>
</div>